<p>
  <h2><strong><%= @subject.name %></strong></h2>
  <% if @subject.professor_subjects.present? %>
    <h3>List of Professor Teaching this Class</h3>
    <% @subject.professor_subjects.each do |professor_subject| %>
      <% professor = professor_subject.professor %>
      <div class='professor-container'>
        <div class='professor-name-rate'>
          <h4><%= professor.full_name %></h4>
          <%= rating_for professor_subject, "overall_rate", readonly: true %>
        </div>
        Rate this Professor: <%= rating_for_student professor_subject, current_student, 'overall_rate'%>
      </div>
      <% stud_prof_sub = professor_subject.student_professor_subjects.find_by_student_id(current_student.id) %>
      <div class="rate-description-container">
        <label class="form-control-label" for="student_email">Add Simple Review:</label>
        <input class="form-control" value="<%= stud_prof_sub.description %>" data-id="<%= stud_prof_sub.id %>" name="student[email]" id="student_email">
      </div>
    <% end %>
  <% else %>
    <h3>No List of Professor Teaching this Class</h3>
  <% end %>
</p>
<%= link_to 'Back', root_path %>

<script>
  $("input").blur(function(){
      $.ajax({
        type: "PUT",
        url: "/student_professor_subjects/" + $(this).attr('data-id') ,
        data: {
          student_professor_subject: {
            id: $(this).attr('data-id'),
            description: $(this).val()
          }
        },
        dataType: "script",
        callback: null
      });
    return false;
  });
</script>
